body{
    background-color: rgba(255, 255, 255, 0.918);
    font-family: 'Cambria', sans-serif
}

.login{
        width: 400px;
        height: 340px;
        background: rgb(82, 3, 25);
        margin: auto;
        margin-top: 160px;
        box-shadow: 7px 13px 37px #000;
        padding: 20px 30px;
        border-top: 4px rgb(82, 3, 25);
        color: rgb(255, 255, 255);
        border-radius: 15px;
}
.USUARIO{
    font-family:'Cambria', serif;
    padding:15px 30px ;
    border-radius: 15px;
    border-top: white;
}

.CONTRASEÑA{
    font-family: 'Cambria', sans-serif;
    border-radius: 15px;
    border-top: white;
    padding: 15px 30px;
}
.botons{
    font-family: 'Cambria', sans-serif;
    border-radius: 15px;
    padding: 15px 30px;
    border-top: white;
}